/* Main
=====================*/
.main-content {
  /*  width: 960px;*/
  margin: 10px auto 0;
  clear: both;
}

.news__section {
  width: 100%;
  float: left;
}

.news__item {
/*  margin: 5px;*/
  cursor: pointer;

  @include respond-to('extrasmall') {
    width: 100%;
    display: block;
  }

  @include respond-to('medium') {
    width: 210px;
    display: inline-block;
  }

  @include respond-to('large') {
    width: 210px;
    display: inline-block;
  }

  @include respond-to('extralarge') {
    width: 210px;
    display: inline-block;
  }
}


.news__body {

  img {

    height: 300px;
    object-fit: cover;

    @include respond-to('extrasmall') {
      width: 100%;

    }

    @include respond-to('small') {
      width: 100%;
    }

    @include respond-to('medium') {
      width: 210px;
    }

    @include respond-to('large') {
      width: 210px;
    }

  }

  p {
    width: 210px;
    padding: 5px 10px;

    @include respond-to('extrasmall') {
      width: 100%;

    }
  }

}
