/* Sidebar
=====================*/
.aside__section {
/*  width: 220px;*/
  float: right;
  display: none;
  @include respond-to('medium') {
    display: block;
  }
  @include respond-to('large') {
    display: block;
  }
  @include respond-to('extralarge') {
    display: block;
  }
}

.aside__head {
  width: 220px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.aside__latest {
  margin-bottom: 50px;

  img {
    width: 220px;
    height: 200px;
  }
}

.aside__tags{
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

